apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: skupper-controller
    application: skupper-controller
  name: skupper-controller
  namespace: {{ .Release.Namespace }}
